__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
build
dist
*.egg-info
logs/
logs.txt
.idea
.git
.gitignore
**/.gitkeep
**/.DS_Store
.next
.dockerignore
.circleci
Dockerfile
docker-compose.yml
node_modules
deploy
pages/stubs
venv
kite
cypress
stories

# Sentry
.sentryclirc
